
@media only screen and (max-width: 700px) {
	h1{
		font-size: 30px;
	}
	div{
	}

		/*NAV	-	-	-	-	-	-	-	-	-*/
	.nav{
	.nav-content{
		display: flex;
		justify-content: space-between;
		height: 100%;
		position: relative;
		z-index: 100;

		i{
			font-size: 2em;
			margin: 1em;
			display: block;
			z-index: 100;
		}

		.logo{
			background-color: white;
			width: 100px;
			height: 100px;
		}

		ul{
		list-style-type: none;
		position: absolute;
		transition: all ease 1s;
		z-index: 0;
		top: 100px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin: 0;
		padding: 0;
		padding-right: 0;
		width: 100%;
		background:linear-gradient(90deg, #222, #333);
		transform: translateX(300px);	
		/*z-index: -1;*/
		opacity: 0;


			li{ 
				padding: 0;
			}
		}

		a{
			color: white;

			&:hover{
				color:$pop;
			}
		}

	}



	}
	/*-	-	-	-	-	-	-	-*/



	#hero{

		.title{
			font-size: 60px;
			width: 95%;

			left: 0%;

		}
	}


	#about{

		.textbox{
			padding: 0;
			p{
				width: 100%;
			}
		}
		.threecol{
			.a-item{
				flex: 1 0 90%;
			}
		}
	}

	#products{
		.wrap{
			margin: 0;
		}
		.product{
			flex-direction: column;
		

			.p-heading{
				.p-image{
					height: 200px;
				}
			}
		}
	}
	#contact{
		height: auto;
		.contact-list{
			font-size: 1em;
			width: 100%;
		}
		
	}
}
