$primary: #222;
$darktext:black;
$lighttext:#eee;
// $secondary:rgba(200,0,100,1);
$secondary:lightsteelblue;
$headfont:'Niramit';
$bodyfont:'Open Sans';



$gradient1:linear-gradient(90deg, steelblue, #4C8EC6);

$gradient2:linear-gradient(yellow,blue);
