$primary: #222;
$darktext:black;
$lighttext:#eee;
$pop:rgba(200,0,100,1);
$secondary:#003366;
$headfont:'Niramit';
$bodyfont:'Open Sans';



$gradient1:linear-gradient(90deg, #003366, #003366);

$gradient2:linear-gradient(90deg, #222,#333);;
